@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

.note-icon {
  border-radius: 50%;
  border: 1px solid hsl(234, 39%, 85%);
  height: 20px;
  width: 20px;
  transition: border-image 0.2s ease;
  transition: border-image 0.2s ease, -o-border-image 0.2s ease;
}
@media (max-width: 500px) {
  .note-icon {
    height: 10px;
    width: 10px;
  }
}

.body {
  display: grid;
  grid-template-rows: 250px auto;
  font-size: 18px;
  overflow-y: hidden;
}
.body button {
  background-color: transparent;
  border: none;
}
.body button:hover {
  cursor: pointer;
}
.body .bg-img {
  background-size: cover;
}
.body .bg-img.light {
  background-image: url("../static/images/bg-desktop-light.jpg");
}
.body .bg-img.dark {
  background-image: url("../static/images/bg-desktop-dark.jpg");
}
.body .todo-content {
  position: absolute;
  z-index: 999;
  margin: 100px 30%;
  width: 500px;
}
@media (max-width: 500px) {
  .body .todo-content {
    margin: 25% 16%;
    width: 70%;
  }
}
.body .todo-content .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.body .todo-content .header__title {
  font-weight: 700;
  text-transform: uppercase;
  color: hsl(0, 0%, 98%);
  letter-spacing: 10px;
}
.body .todo-content .header__button {
  background-color: transparent;
  border: none;
}
.body .todo-content .new-entry-container {
  width: 100%;
  margin-top: 20px;
  padding: 0;
  height: 50px;
  position: relative;
}
.body .todo-content .new-entry-container__text {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 4px;
  outline: none;
  text-align: center;
}
.body .todo-content .new-entry-container__text.dark {
  background-color: hsl(233, 14%, 35%);
  color: hsl(234, 39%, 85%);
}
.body .todo-content .new-entry-container__text:focus ~ .placeholder-text p {
  display: none;
}
.body .todo-content .new-entry-container .placeholder-text {
  position: absolute;
  display: flex;
  gap: 20px;
  align-items: center;
  top: 15px;
  left: 20px;
}
.body .todo-content .new-entry-container .placeholder-text p {
  color: hsl(234, 11%, 52%);
}
@media (max-width: 500px) {
  .body .todo-content .new-entry-container .placeholder-text p {
    font-size: 12px;
  }
}
.body .todo-content .entries {
  height: 300px;
  width: 100%;
  background-color: white;
  margin-top: 30px;
  border-radius: 4px;
  box-shadow: hsl(234, 11%, 52%) 8px 12px 50px;
  display: grid;
  grid-template-rows: 85% 15%;
}
.body .todo-content .entries button {
  color: hsl(234, 11%, 52%);
}
.body .todo-content .entries button:hover {
  color: hsl(235, 21%, 11%);
}
.body .todo-content .entries button:active, .body .todo-content .entries button:focus {
  color: hsl(220, 98%, 61%);
}
.body .todo-content .entries.dark {
  background-color: hsl(233, 14%, 35%);
  box-shadow: hsl(235, 21%, 11%) 8px 12px 50px;
}
.body .todo-content .entries.dark button {
  color: hsl(234, 39%, 85%);
}
.body .todo-content .entries.dark button:hover {
  color: hsl(236, 33%, 92%);
}
.body .todo-content .entries.dark button:active, .body .todo-content .entries.dark button:focus {
  color: hsl(220, 98%, 61%);
}
.body .todo-content .entries__list {
  list-style: none;
  overflow-y: scroll;
}
.body .todo-content .entries__list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  height: 40px;
  padding: 10px 10px 10px 20px;
  border-bottom: 1px solid hsl(234, 39%, 85%);
  color: hsl(233, 14%, 35%);
}
.body .todo-content .entries__list__item__wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}
.body .todo-content .entries__list__item:hover {
  color: hsl(235, 21%, 11%);
  cursor: pointer;
}
@media (max-width: 500px) {
  .body .todo-content .entries__list__item {
    font-size: 12px;
  }
}
.body .todo-content .entries__list__item .note-icon:hover {
  cursor: pointer;
  -o-border-image: linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
     border-image: linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border-image-slice: 1;
}
.body .todo-content .entries__list__item.dark {
  color: hsl(234, 39%, 85%);
  border-bottom: 1px solid hsl(234, 11%, 52%);
}
.body .todo-content .entries__list__item.dark:hover {
  color: hsl(236, 33%, 92%);
}
.body .todo-content .entries__info {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: hsl(234, 11%, 52%);
}
@media (max-width: 500px) {
  .body .todo-content .entries__info {
    font-size: 12px;
  }
}
.body .todo-content .entries__info__categories {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
@media (max-width: 500px) {
  .body .todo-content .entries__info__categories {
    display: none;
  }
}
.body .todo-content .entries__info__categories__mobile {
  display: none;
  color: hsl(234, 11%, 52%);
}
@media (max-width: 500px) {
  .body .todo-content .entries__info__categories__mobile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    background-color: white;
    margin-top: 10px;
    padding: 20px;
    border-radius: 4px;
    box-shadow: hsl(234, 11%, 52%) 8px 12px 50px;
  }
  .body .todo-content .entries__info__categories__mobile.dark {
    background-color: hsl(233, 14%, 35%);
    box-shadow: hsl(235, 21%, 11%) 8px 12px 50px;
  }
}
.body .empty-space {
  background-color: hsl(236, 33%, 92%);
  height: calc(100vh - 250px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.body .empty-space.dark {
  background-color: hsl(237, 14%, 26%);
}
.body .empty-space__text {
  margin-bottom: 40px;
  color: hsl(234, 11%, 52%);
}
@media (max-width: 500px) {
  .body .empty-space__text {
    font-size: 15px;
  }
}/*# sourceMappingURL=main.css.map */